# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3

# Django
db.sqlite3
media/

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# React build
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Matplotlib cache
.matplotlib/